<?xml version="1.0"?>
<!--
/**
 * @category    Magento 2
 * @package     Dadolun_Checkout
 * @copyright   Copyright (c) 2023 Dadolun (https://www.dadolun.com)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dadolun_Checkout" setup_version="1.1.1">
        <sequence>
            <module name="Magento_Checkout" />
        </sequence>
    </module>
</config>
